# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# --------------------
# Dependencies
# --------------------
node_modules/

# --------------------
# Expo / React Native
# --------------------
.expo/
dist/
web-build/
expo-env.d.ts

# Generated native folders
/android
/ios

# --------------------
# Native / Keys
# --------------------
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# --------------------
# Metro
# --------------------
.metro-health-check*

# --------------------
# Debug logs
# --------------------
npm-debug.*
yarn-debug.*
yarn-error.*

# --------------------
# OS
# --------------------
.DS_Store

# --------------------
# Environment variables (IMPORTANT)
# --------------------
.env
.env.*
!.env.example

# --------------------
# TypeScript
# --------------------
*.tsbuildinfo

# --------------------
# Project-specific
# --------------------
app-example/
